anyio==3.6.1
appdirs==1.4.4
asgiref==3.5.2
attrs==21.4.0
CacheControl==0.12.6
cffi==1.15.0
chardet==4.0.0
click==8.1.3
colorama==0.4.4
contextlib2==0.6.0.post1
cryptography==37.0.2
distlib==0.3.4
distro==1.7.0
fastapi==0.78.0
filelock==3.7.1
h11==0.13.0
html5lib==1.1
httptools==0.4.0
idna==3.3
iniconfig==1.1.1
more-itertools==8.12.0
motor==3.0.0
msgpack==1.0.3
ordered-set==4.0.2
packaging==20.9
pep517==0.12.0
pkgconfig==1.5.5
platformdirs==2.5.2
pluggy==1.0.0
ply==3.11
progress==1.6
psutil==5.9.1
py==1.11.0
pycparser==2.21
pydantic==1.9.1
pymongo==4.1.1
pyOpenSSL==22.0.0
pyparsing==3.0.9
pytest==7.1.2
python-dateutil==2.8.2
python-dotenv==0.20.0
python-multipart==0.0.5
PyYAML==6.0
requests==2.27.1
resolvelib==0.5.5
retrying==1.3.3
six==1.16.0
sniffio==1.2.0
starlette==0.19.1
toml==0.10.2
tomli==2.0.1
typing-extensions==4.2.0
urllib3==1.26.9
uvicorn==0.17.6
uvloop==0.16.0
virtualenv==20.14.1
virtualfish==2.5.4
watchgod==0.8.2
webencodings==0.5.1
websockets==10.3
